@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #aaa;
    margin-left: 20px;
}

i {
    font-size: 1rem;
    color: #fff;
}

p,
a {
    font-size: .9rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}

/* scrollbar style */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}




/* header start here */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    padding-right: 40px;

}

.ri-menu-line{
    font-size: 30px;
}
.logo-img {
    position: relative;
    height: 40px;
    width: 40px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo-txt {
    letter-spacing: -1.5px;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 0 1 685px;
    margin-left: 40px;
}

.search-container form {
    position: relative;
    width: 100%;
}

.search-container input {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 12px;
    color: #fff;
    font-size: 1rem;
}

.search {
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: #313131;
    outline: none;
    border: none;
}

.mic {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container i {
    margin-left: 25px;
}

.profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
    background-image: url(./img/profile.png);
}


/* body container starts here */

.body-container {
    display: flex;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
}

.sidebar {
    background-color: #121212;
    padding-top: 10px;
    width: 240px;
    overflow-y: scroll;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    height: 50px;
}

.sidebar-item:hover {
    background-color: #4c4c4c;
}

.sidebar-item i {
    margin-right: 20px;
    padding: 0 5px;
}

/* main contant starts here */

.content {
    width: calc(100vw - 240px);
}

.chips-wrapper {
    overflow-x: scroll;
    background-color: #181818;
    display: flex;
    padding-left: 14px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.chips-wrapper::-webkit-scrollbar {
    height: 0;
}


.chip {
    margin: 12px 6px;
    background-color: #373737;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: .5sec;
}

.chip:hover {
    background-color: #4d4d4d;
}

/* video container starts here */

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 20px 25px;
    background-color: #181818;
    overflow-y: scroll;
    height: calc(100vh - 116px);
}

.video-content-cover {
    position: relative;
    transition: .5s;
    transition-delay: .05s;
    background-color: #373737;
    height: 300px;
    padding: 10px;
}

.video-content-cover:hover {
    transform: translateY(10px);
    z-index: 999;
}

.video-content-cover:nth-child(4n+1):hover {
    transform: translate(10px, 10px);
    z-index: 999;
}

.video-content-cover:nth-child(4n+4):hover {
    transform: translate(-10px, 10px);
    z-index: 999;
}

.video-content {
    margin-bottom: 25px;
    position: relative;
    transition: .5s;
    width: 100%;
}

.video-content:hover {
    transform: scale(1.5);
    z-index: 5;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background: #202020;
}

.video-content:hover .video-details {
    background-color: #202020;
    padding: 10px;
}

.video-box {
    position: relative;
    width: 200px;
    height: 145px;
    display: flex;
  background-image: url(./img/video.jpeg);
  background-repeat: no-repeat;

}

.channel-logo {
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.video-content:hover .channel-logo {
    min-width: 25px;
    height: 25px;
}

.video-details {
    display: flex;
    color: #fff;
    padding-top: 12px;
}

.detail {
    margin-left: 12px;
}

.title {
    font-size: 1.2rem;
}

.video-content:hover .title {
    font-size: .7rem;
}

.channel-name {
    font-size: .8rem;
    margin-top: 10px;
    color: #aaa;
}

.views-upload {
    display: flex;
    font-size: .8rem;
    color: #aaa;
}

.video-content:hover .views-upload {
    font-size: .6rem;
}

.upload {
    margin-left: 5px;
}

.hidden-content {
    /* display: none; */
    padding: 5px 10px;
}

.video-content:hover .hidden-content {
    display: block;
}

.btn {
    padding: 5px 0;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 100%;
    background-color: #373737;
    text-align: center;
    margin: 5px 0;
    font-size: .7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    font-size: .7rem;
    margin-right: 5px;
    color: #aaa;
}

/* responsive starts here */

@media (max-width:1200px) {

    .sidebar {
        width: 70px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .more {
        display: none;
    }

    .content {
        width: calc(100vw - 70px);
    }
}

@media (max-width:1050px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    i{
        display: none;
    }
    .sidebar-item, i {
display:inline-block ;
margin: 0;
padding: 0;
align-items: center;
font-size: 14px;
    }


}

@media (max-width:820px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sidebar-item, i {
display: flex;
    }


}

@media (max-width:600px) {
    .video-container {
        grid-template-columns: repeat (1, 1fr);
    }

    .search-container,
    .ri-grid-fill {
        display: none;
    }

    .video-container {
        grid-gap: 10px;
        padding: 10px;
    }

    .header {
        padding-right: 10px;
    }
}